#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 1px solid;
}
#score{
    font-family:"Permanent Marker",cursive ;
    font-size: 100px;
}
#resetBtn{
    font-family:"Permanent Marker",cursive ;
    font-size: 30px;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}